/* Add here all your CSS customizations */
/* theme-global */
.box {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-over .dropdown-content {
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
}
#top-header.fixed {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
#top-header.top-header-fixed {
  background-color: rgba(51, 51, 51, 0.5);
}
#main-nav .dropdown:hover > .dropdown-menu {
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
}
#main-nav .dropdown-submenu:hover > .dropdown-menu {
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
}
.home-2 .tiva-slideshow-wrapper .tiva-caption .tiva-caption-lr {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-2 .testimoniol-slider:after {
  background-color: rgba(51, 51, 51, 0.75);
}
.home-3 .section-testimoniol:after {
  background-color: rgba(51, 51, 51, 0.5);
}
.home-3 #footer:after {
  background-color: rgba(51, 51, 51, 0.9);
}
.block-gallery a {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.block-gallery a:hover:before {
  background-color: rgba(255, 255, 255, 0.3);
}
.tiva-popup-screen {
  background-color: rgba(0, 0, 0, 0.7);
}
.multi-color {
  -webkit-box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05);
}
.multi-color .handle {
  -webkit-box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05);
}

/* theme-animate */
.effect > .image-wrap:before {
  background-color: rgba(255, 255, 255, 0.3);
}
.effect > .image-wrap:after {
  background-color: rgba(255, 255, 255, 0.1);
}

/* theme-blog */
.blog-posts .post-meta {
  background-color: rgba(51, 51, 51, 0.54);
}
.blog-detail .post-meta {
  background-color: rgba(51, 51, 51, 0.54);
}
