@media (min-width: 767px) and (max-width: 1100px) {
  .navbar {
    padding: 20px 18px 32px 18px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-toggle {
    border: 0;
    font-size: 38px;
    margin-left: -70px;
    margin-top: 10px;
    color: #666;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
}








@media (min-width: 100px) and (max-width: 766px) {

.clearfix div {
  text-align: center !important;
}

.register-form {
  margin: 30px 5px 0 5px !important;
  /*padding: 25px auto 30px auto; */
}

.register-form-inner {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

}




