/************* Responsive **************/
@media (min-width: 992px) {
  .dropdown-menu,
  .dropdown-content {
    animation: animationmenus ease 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: animationmenus ease 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    -moz-animation: animationmenus ease 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
    -o-animation: animationmenus ease 0.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards;
    /*Not implemented yet*/
    -ms-animation: animationmenus ease 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards;
    /*IE 10+*/
  }

  .product-container .product-image-container .product_img_link {
    display: block;
    position: relative;
  }
  .product-container .product-image-container .product_img_link:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    background-color: #333333;
    background-color: rgba(51, 51, 51, 0.3);
    zoom: 1;
    background-color: transparent\9;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .product-container .product-image-container img {
    backface-visibility: hidden;
    /* W3C */
    -webkit-backface-visibility: hidden;
    /* Safari & Chrome */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
    -o-backface-visibility: hidden;
    /* Opera */
    -webkit-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
  }
  .product-container .box-buttons {
    z-index: 2;
    visibility: hidden;
    right: -40px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .rtl .product-container .box-buttons {
    left: -40px;
    right: auto;
  }
  .product-container:hover .product-image-container .product_img_link:before {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .product-container:hover .product-image-container img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
  }
  .product-container:hover .box-buttons {
    visibility: visible;
    right: 15px;
  }
  .rtl .product-container:hover .box-buttons {
    left: 15px;
    right: auto;
  }

  /* section */
  .section .des-text {
    padding: 0 215px 30px;
  }

  .blog-detail-full .post-content {
    padding: 50px 100px;
  }
  .blog-detail-full .quotes {
    margin: 50px 100px;
    padding: 40px 70px;
    position: relative;
    background-color: #f8f8f8;
  }
  .blog-detail-full .quotes:before {
    position: absolute;
    content: "\f10d";
    top: 35px;
    font-family: "FontAwesome";
    font-size: 50px;
    z-index: 1;
    color: #ebebeb;
    left: 50px;
  }
  .blog-detail-full .quotes p {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }

  .we-are .quote {
    margin: 60px 70px;
  }

  .tiva-popup-screen .popup input[type="text"] {
    width: 400px;
  }

  /* home-2 */
  .home-2 .testimoniol-items .item {
    padding: 60px 170px;
  }

  /* home-3 */
  .home-3 .testimoniol-items .item {
    padding: 30px 170px;
  }
}
@media (max-width: 1400px) {
  /* main menu */
  .home-1 #main-nav > ul > li > a {
    padding: 0 13px;
  }

  /* Caption */
  .tiva-slideshow-wrapper .tiva-caption {
    top: 30%;
  }

  /* home-3 */
  .home-3 #main-nav > ul > li > a {
    padding: 0 8px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #thumbs_list {
    width: 375px;
  }
}
@media (max-width: 1024px) {
  #main-nav > ul > li > a {
    padding: 10px;
  }

  .dropdown-over .dropdown-title {
    padding: 5px 5px 4px;
  }

  .block-cart .dropdown-title {
    padding: 5px 0 4px 7px;
  }
  .rtl .block-cart .dropdown-title {
    padding: 5px 7px 4px 0;
  }

  .blog-author .author-content {
    padding: 20px 10px;
  }

  /* contact us */
  .contact-form .contact-des {
    padding: 0;
  }

  /* footer */
  .about-us {
    padding-right: 0;
  }
  .rtl .about-us {
    padding-left: 0;
    padding-right: inherit;
  }

  /* home-2 */
  .home-2 .tiva-slideshow-wrapper .tiva-caption {
    top: 6%;
    right: 0;
    left: 0;
  }
  .home-2 .tiva-slideshow-wrapper .tiva-caption .tiva-caption-lr {
    width: 42%;
  }

  /* home-3 */
  .home-3 .topheader-navholder .logo {
    margin-left: 0;
    left: 0;
  }
  .rtl .home-3 .topheader-navholder .logo {
    margin-right: 0;
    margin-left: inherit;
  }
  .rtl .home-3 .topheader-navholder .logo {
    right: 0;
    left: auto;
  }
  .home-3 #main-nav {
    margin-left: 100px;
  }
  .rtl .home-3 #main-nav {
    margin-right: 100px;
    margin-left: inherit;
  }
  .home-3 #main-nav > ul > li.margin-right-160 {
    margin-right: 0;
  }
  .rtl .home-3 #main-nav > ul > li.margin-right-160 {
    margin-left: 0;
    margin-right: inherit;
  }
}
@media screen and (max-width: 991px) {
  .logo {
    margin-bottom: 10px;
  }

  #btn-menu {
    display: block;
  }

  #top-header #main-nav {
    display: none !important;
  }

  .block-newsletter .title_block {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .rtl .block-newsletter .title_block {
    margin-left: 0;
    margin-right: inherit;
  }

  .pb-centercolumn {
    margin-top: 30px;
  }

  .page-checkout .panel-default > .panel-heading {
    font-size: 16px;
  }

  .btn-join {
    margin-top: 20px;
    float: none;
  }

  /* home-1 */
  .home-1 .logo {
    text-align: left;
  }
  .rtl .home-1 .logo {
    text-align: right;
  }
  .home-1 #btn-menu {
    padding: 0;
    line-height: 100px;
  }
  .home-1 .header-main .block-search {
    margin-left: 15px;
  }
  .rtl .home-1 .header-main .block-search {
    margin-right: 15px;
    margin-left: inherit;
  }
  .home-1 .header_user_info .dropdown-title {
    display: block;
    padding: 12px 25px 12px 7px;
  }
  .rtl .home-1 .header_user_info .dropdown-title {
    padding: 12px 7px 12px 25px;
  }
  .home-1 .header_user_info .dropdown-title:before {
    color: #999;
    content: '\f107';
    position: absolute;
    top: 13px;
    font-family: "FontAwesome";
    right: 10px;
  }
  .rtl .home-1 .header_user_info .dropdown-title:before {
    left: 10px;
    right: auto;
  }
  .home-1 .header_user_info ul li {
    padding: 0;
    line-height: 32px;
    display: block;
  }
  .home-1 .header_user_info ul li:after {
    content: none;
  }
  .home-1 .section-banner .tv-tablecell .block-html {
    padding: 0 30px;
  }
  .home-1 .section-banner .tv-tablecell .block-html h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .home-1 .section-banner .tv-tablecell .block-html h3 {
    font-size: 26px;
    line-height: 26px;
  }
  .home-1 .section-banner .tv-tablecell .block-html .btn {
    margin-top: 0;
  }
  .home-1 .tiva-slideshow-wrapper .tiva-caption {
    top: 10%;
    right: 50%;
  }
  .rtl .home-1 .tiva-slideshow-wrapper .tiva-caption {
    left: 50%;
    right: auto;
  }

  /* home-2 */
  .home-2 .topheader-navholder {
    margin-top: 0;
    border: none;
  }
  .home-2 #btn-menu {
    float: right;
  }
  .rtl .home-2 #btn-menu {
    float: left;
  }

  /* home-3 */
  .home-3 #btn-menu {
    padding: 0 5px;
    line-height: 100px;
    color: white;
    margin-left: 180px;
  }
  .rtl .home-3 #btn-menu {
    margin-right: 180px;
    margin-left: inherit;
  }
  .home-3 #main-nav {
    margin-left: 0;
  }
  .rtl .home-3 #main-nav {
    margin-right: 0;
    margin-left: inherit;
  }
}
@media (max-width: 767px) {
  .comments-form .form-group .input-email {
    margin-bottom: 25px;
  }

  .page-not404 .page-not-found .page-not-des {
    padding: 0;
  }

  .tiva-popup-screen .popup {
    width: 80%;
  }

  /* home-1 */
  .home-1 .header_user_info .dropdown-title {
    display: block;
  }
  .home-1 .section-banner .tv-tablecell {
    width: 100%;
    display: block;
  }
  .home-1 .section-banner .tv-tablecell .block-html {
    padding: 30px;
  }

  #footer .title_block {
    margin-bottom: 15px;
  }
  #footer .block-keep {
    margin-bottom: 30px;
  }

  .footer-copyright {
    text-align: center;
  }
  .footer-copyright .payment {
    float: none;
    margin-top: 15px;
  }
  .footer-copyright .payment img {
    display: inline-block;
  }

  .sidebar .block h4,
  .footer-block h4 {
    position: relative;
  }
  .sidebar .block h4:after,
  .footer-block h4:after {
    display: block;
    content: "\f055";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    width: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    right: 0;
  }
  .rtl .sidebar .block h4:after, .rtl
  .footer-block h4:after {
    left: 0;
    right: auto;
  }
  .sidebar .block h4.active:after,
  .footer-block h4.active:after {
    content: "\f056";
  }

  /* home-3 */
  .home-3 .section-prolist {
    padding-top: 60px;
  }
  .home-3 .section-bestsellers {
    padding: 60px 0 0;
  }
  .home-3 .banner-item {
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .tabs-top .title_block {
    float: none !important;
  }
  .tabs-top .nav-tabs.nav {
    padding: 0;
    margin: 30px 0;
    border: 1px solid #eaeaea;
  }
  .tabs-top .nav-tabs.nav > li {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tabs-top .nav-tabs.nav > li.active > a {
    border-bottom: 1px solid #eaeaea;
  }
  .tabs-top .nav-tabs.nav > li:last-child > a {
    border-bottom: 1px solid transparent;
  }
  .tabs-top .nav-tabs.nav > li > a {
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    margin: 0;
  }
  .rtl .tabs-top .nav-tabs.nav > li > a {
    text-align: right;
  }

  .tabs-top.accordion-info .nav-tabs {
    margin: 0;
  }

  .block-newsletter form {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .home-1 .tiva-slideshow-wrapper .tiva-caption {
    display: none;
  }

  .block-newsletter form {
    width: 100%;
  }

  #subcategories .scene_cat img {
    width: 100%;
    display: inline-block;
  }

  .blog-posts .post-meta-lr {
    text-align: center;
    float: none;
    width: 100%;
  }
  .blog-posts .post-meta-left {
    margin-bottom: 15px;
  }

  .post-tag .post-tag-lr {
    text-align: center;
    float: none;
    width: 100%;
  }
  .post-tag .post-tag-left {
    margin-bottom: 15px;
  }

  .blog-author .author-avatar {
    width: 70px;
  }
  .blog-author .author-content {
    padding: 20px 10px;
  }

  .sort form {
    margin-bottom: 10px;
    float: left !important;
  }
  .sort label {
    min-width: 70px;
  }
  .sort select {
    margin-right: 0;
  }
  .rtl .sort select {
    margin-left: 0;
    margin-right: inherit;
  }

  .tiva-popup-screen .popup form {
    padding: 20px;
  }

  /* home-2 */
  .home-2 .header-topbar .services-items {
    padding: 4px 0;
  }
  .home-2 .header-topbar .services-item {
    padding: 2px 0;
    line-height: 15px;
    font-size: 12px;
  }
  .home-2 .header-main {
    margin: 20px 0 30px;
  }
  .home-2 .block-callus {
    text-align: center;
    margin: 0 0 15px;
    float: none;
    width: 100%;
  }

  /* home-3 */
  .home-3 .block-newsletter form .btn {
    padding: 0 15px;
  }
  .home-3 #btn-menu {
    position: relative;
    top: 83px;
    z-index: 999;
    line-height: 35px;
    margin-left: 0;
  }
  .rtl .home-3 #btn-menu {
    margin-right: 0;
    margin-left: inherit;
  }
  .home-3 #top-header.top-header-fixed {
    position: inherit;
    background-color: #333;
  }
  .home-3 .topheader-navholder .logo {
    margin: 0 auto !important;
    z-index: 998;
    top: 25px;
    right: 0;
    text-align: center;
  }
  .home-3 .dropdown-over .dropdown-title {
    margin-top: 15px;
  }
}
@media (max-width: 479px) {
  #top-header.top-header-fixed {
    padding: 0 15px;
  }

  .block-cart .dropdown-content {
    min-width: 290px;
    right: 0;
  }
  .rtl .block-cart .dropdown-content {
    left: 0;
    right: auto;
  }

  .block-search .dropdown-content {
    min-width: 290px;
    right: -45px;
  }
  .rtl .block-search .dropdown-content {
    left: -45px;
    right: auto;
  }

  #thumbs_list {
    width: 290px;
  }

  #attributes .attribute_fieldset label,
  #quantity_wanted_p label {
    width: 100%;
    min-width: inherit;
  }

  .comments-area .comments-list .reply-link {
    float: none;
    width: 100%;
  }
  .comments-area .comments-list > li ol {
    margin-left: 30px;
  }
  .rtl .comments-area .comments-list > li ol {
    margin-right: 30px;
    margin-left: inherit;
  }
}
@media (max-width: 375px) {
  .home-2 .block-search .dropdown-content {
    right: -94px;
  }
  .rtl .home-2 .block-search .dropdown-content {
    left: -94px;
    right: auto;
  }

  /* home-3 */
  .home-3 .block-newsletter form .btn {
    padding: 0 15px;
  }
}
@media (max-width: 320px) {
  /* home-2 */
  .home-2 .dropdown-over .dropdown-title {
    padding: 5px 3px 4px;
  }
  .home-2 .block-cart .dropdown-content {
    right: -53px;
  }
  .rtl .home-2 .block-cart .dropdown-content {
    left: -53px;
    right: auto;
  }
  .home-2 .block-search .dropdown-content {
    right: -130px;
  }
  .rtl .home-2 .block-search .dropdown-content {
    left: -130px;
    right: auto;
  }
}
